/*テーブル*/
.table {
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
}

.table th {
    background-color: yellowgreen;
    text-align: center;
    vertical-align: middle;
}

.table td {
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

td:hover {
    cursor: pointer;
    background-color: #dee2e6;
}

/*「スケジュール」に青の下線*/
#sch {
    border-bottom: 3px solid blue;
}

.fa-cog {
    cursor: pointer;
    margin-left: auto;
}
