.list-group {
    margin: 0 auto;
    width: 90%;
    border-radius: unset;
}

.task-list {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.list-group-item {
    box-sizing: border-box;
    height: 70px;
    border: 1px solid red;
    border-left: 15px solid red;
    padding: 0;
}

#task-default {
    display: flex;
    vertical-align: center;
    justify-content: space-around;
    background-color: gainsboro;
    cursor: default;
    margin: 0;
    padding: 8px;
}

#task-default h4 {
    margin: 0;
}

.task-right {
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    padding: 8px;
    border-left: 2px solid gray;
    height: 100%;
}

.task-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    padding: 8px;
    justify-content: space-between;
}

h5, h6 {
    margin: 0;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    margin-right: 6px;
    border-right: 2px solid gray;
}

.list-head {
    display: flex;
    color: white;
    justify-content: flex-end;
    vertical-align: middle;
    height: 40px;
    border: 1px solid black;
    background-color: red;
    /* opacity: 0.8; */
}

.button {
    display: flex;
    padding: 12px;
    margin-right: 12px;
    cursor: pointer;
    align-items: center;
}

.button:hover {
    background-color: orangered;
}

/*「スケジュール」に青の下線*/
#task {
    border-bottom: 3px solid blue;
}

#course_holder {
    display: none;
}
